    #main-nav {
        background-color: #2471A3!important;
        height: 60px;
    }
    
    #sub-nav {
        background-color: #A9CCE3!important;
        font-weight: bold;
    }
    
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        bottom: 25%;
        text-align: center;
        background-color: transparent;
        height: 30px;
        width: 30px;
    }
    
    .navbar-toggler {
        display: none;
    }
    /* The sidebar menu */
    
    .sidebar {
        height: 100%;
        /* 100% Full-height */
        width: 200px;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Stay on top */
        left: 0;
        background-color: #D4E6F1;
        /* Black*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 60px;
        /* Place content 60px from the top */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in the sidebar */
    }
    /* The sidebar links */
    
    .sidebar a {
        text-decoration: none;
        font-size: 18px;
        color: #154360;
        display: block;
    }
    /* When you mouse over the navigation links, change their color */
    
    .sidebar a:hover {
        color: #EAF2F8;
        background-color: #1A5276;
    }
    /* Position and style the close button (top right corner) */
    
    .sidebar .closebtn {
        display: none;
    }
    /* The button used to open the sidebar */
    
    .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: #111;
        color: white;
        padding: 10px 15px;
        border: none;
    }
    
    .openbtn:hover {
        background-color: #444;
    }
    
    .sidebar .btn-logout {
        background-color: red;
        color: white;
    }
    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    
    #main {
        transition: margin-left .5s;
        /* If you want a transition effect */
        padding: 20px;
    }
    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    
    @media screen and (max-width: 450px) and (min-width: 300px) {
        .sidebar {
            padding-top: 15px;
            width: 0px;
        }
        .sidebar a {
            font-size: 18px;
        }
        #collapse {
            display: block;
            background-color: orange;
        }
        .navbar-brand-centered {
            width: 30px;
            height: 30px;
        }
    }